# --------- python --------- #
numpy
matplotlib
pandas
scipy
ipykernel

# --------- pytorch --------- #
# torch
# torchaudio
# torchvision
pytorch-lightning
jsonargparse[signatures]
torchmetrics
transformers

# --------- loggers --------- #
wandb

# --------- custom --------- #
# pytorch3d
scikit-image
imageio
plotly
opencv-python
trimesh
einops

# --------- Rendering --------- #
# blenderproc
# bpy

# --------- misc --------- #
tqdm
rich
pyrootutils
python-dotenv
debugpy
